:host {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  gap: 3rem;

  .info-container {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

}
