<section class='info-container'>
  <h1>Take the quiz!</h1>
  <p>Today, many researchers believe that there are five core personality traits. 1 Evidence of this theory has been
    growing for many years, beginning with the research of D. W. Fiske (1949) and later expanded upon by other
    researchers including Norman (1967), Smith (1967), Goldberg (1981), and McCrae & Costa (1987).</p>
  <p>The "big five" are broad categories of personality traits. While there is a significant body of literature
    supporting this five-factor model of personality, researchers don't always agree on the exact labels for each
    dimension.</p>
  <button
    class='tui-space_right-3 tui-space_bottom-3'
    routerLink='/quiz'
    tuiButton
    type='button'
    data-cy="home-take-quiz"
  >
    Take the quiz!
  </button>

</section>

<section>
  <img alt='hero' class='object-cover object-center rounded' src='https://dummyimage.com/720x600/edf2f7/a5afbd'>
</section>
