<form  id="pick-fruit" (ngSubmit)='onSubmit()' [formGroup]='form' class='form-container'>

  <tui-island class='island' size='l'>

    <progress [max]='this.qcs.getMaxSteps()' [value]='this.qcs.getCurrentStep' tuiProgressBar></progress>

    <ng-container *ngFor='let question of questions; index as i'>
      <personality-traits-frontend-dynamic-form-question
        *ngIf='qcs.getCurrentStep === i'
        [form]='form'
        [question]='question'>
      </personality-traits-frontend-dynamic-form-question>
    </ng-container>

    <section class='actions-container'>
      <button
        (click)='qcs.prev()'
        [disabled]='qcs.getCurrentStep === 0'
        size='m'
        tuiButton
        type='button'
        data-cy="previous"
      >Back
      </button>
      <button
        *ngIf='displaySubmitButton()'
        [disabled]='!form.valid'
        size='m'
        tuiButton
        type='submit'
        data-cy="submit"
      >Submit
      </button>
      <button
        (click)='qcs.next()'
        *ngIf='!displaySubmitButton()'
        size='m'
        tuiButton
        type='button'
        data-cy="next"
      >Next
      </button>
    </section>
  </tui-island>
</form>

