:host {
  display: flex;
  width: 800px;
  align-self: center;
}

form {
  width: 100%;
}

.island {
  flex-direction: column;
  display: flex;
  gap: 2rem;
}

.actions-container {
  display: flex;
  justify-content: space-between;
}

