:host {
  grid-area: main-view;
  width: 100%;
  transition: background 1s ease;
  display: flex;
  flex-direction: column;
  overflow: auto;
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-color: var(--tui-base-04);

  .main-view {
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    padding: 4rem;
  }

}
