<div [formGroup]='form'>
  <h1 [attr.for]='question.key'>{{question.label}}</h1>

  <div [ngSwitch]='question.controlType'>

    <tui-radio-list
      [formControlName]='question.key'
      [itemContent]='content'
      [items]='question.options'
      [nativeId]='"radio-option"'
      size='l'
    ></tui-radio-list>
    <ng-template #content let-data>
      {{data.description}}
    </ng-template>

  </div>

</div>
