<tui-island size='l' textAlign='center'>
  <div class='tui-island__content'>
    <div>
      <h3
        class='tui-island__title'
        data-cy='result'
      >{{result.trait}}</h3>
      <p class='tui-island__paragraph'>{{result.description}}</p>
    </div>
  </div>
</tui-island>
