:host {
  ::ng-deep tui-root {
    min-width: 600px;
    line-height: 20px;
    letter-spacing: .015em;
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
  }

  .container {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: relative;
    isolation: isolate;
  }
}
