<section class='logo-container'>
  <a class='logo'
     routerLink='/'>
    <ng-container [ngTemplateOutlet]='logoTmpl'></ng-container>
  </a>
  <h1>Personality Traits</h1>
</section>

<section class='navigation-actions'>
  <button
    appearance='primary'
    size='m'
    tuiButton
    type='button'
  >
    Login
  </button>
  <button
    appearance='secondary'
    size='m'
    tuiButton
    type='button'
  >
    Sign up
  </button>
</section>


<ng-template #logoTmpl>
  <svg class='logo-svg' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round'
       stroke-width='2' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'>
    <path d='M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5'></path>
  </svg>
</ng-template>
