:host {
  grid-area: top-bar;
  align-items: center;
  min-height: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 4rem;

  .logo-container {
    display: flex;
    flex-direction: row;
    place-items: center;
    gap: 1rem
  ;
    .logo {
      display: flex;
      place-content: center;

      .logo-svg {
        height: 2.5rem;
        color: inherit;
      }
    }
  }

  .navigation-actions {
    display: flex;
    flex-direction: row;
    place-items: center;
    gap: 1rem;
  }
}
