<personality-traits-frontend-top-bar></personality-traits-frontend-top-bar>
<personality-traits-frontend-main-view></personality-traits-frontend-main-view>
<personality-traits-frontend-footer></personality-traits-frontend-footer>
