:host {
  min-height: 100%;
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-rows: 80px auto 80px;
  grid-template-areas:
    'top-bar  '
    'main-view'
    'footer   '
}
